<div class="content">
<div class="content-heading">
    <div class="container">
        <h1 class="heading">Cards</h1>
    </div>
</div>
<div class="content-inner">
<div class="container">
<h2 class="content-sub-heading">Basic Cards</h2>
<div class="card-wrap">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Default Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-alt">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-alt">Brand Colour!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-blue">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-blue">Blue Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-green">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-green">Green Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-purple">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-purple">Purple Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-red">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-red">Red Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-yellow">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading text-yellow">Yellow Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-alt card-alt-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Brand Colour!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-alt" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-blue card-blue-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Blue Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-blue" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-green card-green-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Green Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-green" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-purple card-purple-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Purple Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-purple" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-red card-red-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Red Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-red" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card card-yellow card-yellow-bg">
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Yellow Card!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Add</span><span class="icon icon-add"></span></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><span class="access-hide">Delete</span><span class="icon icon-delete"></span></a>
                            </li>
                            <li class="dropdown">
                                <a class="dropdown-toggle dropdown-toggle-yellow" data-toggle="dropdown"><span class="access-hide">Edit</span><span class="icon icon-settings"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="content-sub-heading">Cards with Rich Media Content</h2>
<div class="card-wrap">
    <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-main">
                    <div class="card-img">
                        <img alt="alt text" src="images/samples/landscape.jpg">
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-main">
                    <div class="card-img">
                        <img alt="alt text" src="images/samples/landscape.jpg">
                        <p class="card-img-heading">Some Text!</p>
                    </div>
                    <div class="card-inner">
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                            <li>
                                <a data-dismiss="tile" href="javascript:void(0)"><span class="icon icon-close"></span>&nbsp;Cancel</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6">
            <div class="card">
                <div class="card-main">
                    <div class="card-header">
                        <div class="card-inner-side pull-left">
                            <div class="avatar avatar-sm">
                                <img alt="John Smith Avatar" src="images/users/avatar-001.jpg">
                            </div>
                        </div>
                        <div class="card-inner">
                            <span>Some Text!</span>
                        </div>
                    </div>
                    <div class="card-img">
                        <img alt="alt text" src="images/samples/landscape.jpg">
                    </div>
                    <div class="card-inner">
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                        <ul class="nav nav-list pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">More</span><span class="icon icon-keyboard-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-1 margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-2 margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-3 margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<h2 class="content-sub-heading">Cards with Vertical Split Area</h2>
<div class="card-wrap">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <aside class="card-side">
                    <span class="card-heading icon icon-info-outline"></span>
                </aside>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                        <ul class="nav nav-list pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">More</span><span class="icon icon-keyboard-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-1 margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-2 margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-3 margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <aside class="card-side card-side-right">
                    <span class="card-heading icon icon-info-outline"></span>
                </aside>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                        <ul class="nav nav-list pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">More</span><span class="icon icon-keyboard-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-1 margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-2 margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-3 margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-wrap">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <a class="card-side" href="javascript:void(0)"><span class="card-heading">Action</span></a>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                        <ul class="nav nav-list pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">More</span><span class="icon icon-keyboard-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-1 margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-2 margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-3 margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <a class="card-side card-side-right" href="javascript:void(0)"><span class="card-heading">Action</span></a>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                    <div class="card-action">
                        <ul class="nav nav-list pull-left">
                            <li>
                                <a href="javascript:void(0)"><span class="icon icon-check text-blue"></span>&nbsp;<span class="text-blue">OK</span></a>
                            </li>
                        </ul>
                        <ul class="nav nav-list pull-right">
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"><span class="access-hide">More</span><span class="icon icon-keyboard-arrow-down"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-1 margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-2 margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="icon icon-filter-3 margin-right-half"></span>&nbsp;Sed Ornare</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-wrap">
    <div class="row">
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <aside class="card-side card-side-img">
                    <img alt="alt text" src="images/samples/portrait.jpg">
                </aside>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-6">
            <div class="card">
                <aside class="card-side card-side-img card-side-right">
                    <img alt="alt text" src="images/samples/portrait.jpg">
                </aside>
                <div class="card-main">
                    <div class="card-inner">
                        <p class="card-heading">Primary Area!</p>
                        <p>
                            Lorem ipsum dolor sit amet.<br>
                            Consectetur adipiscing elit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
<footer class="footer">
    <div class="container">
        <p>Material</p>
    </div>
</footer>
<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red" href="https://github.com/Daemonite/material"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
    </div>
</div>

