<ng-include src="'/view/common/header.html'"></ng-include>
<ng-include src="'/view/common/nav-menu.html'"></ng-include>
<ng-include src="'/view/common/nav-profile.html'"></ng-include>
<ng-include src="'/view/common/nav-search.html'"></ng-include>

<div class="content">
    <div class="content-heading">
        <div class="container">
            <h1 class="heading">Dropdowns</h1>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <h2 class="content-sub-heading">Basic Dropdown</h2>
            <div class="card-wrap">
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="card">
                            <div class="card-main">
                                <div class="card-inner">
                                    <p class="card-heading">Dropdown!</p>
                                    <p>
                                        Lorem ipsum dolor sit amet.<br>
                                        Consectetur adipiscing elit.
                                    </p>
                                </div>
                                <div class="card-action">
                                    <ul class="nav nav-list pull-left">
                                        <li class="dropdown" dropdown>
                                            <a class="dropdown-toggle" dropdown-toggle><span class="access-hide">Card Dropdown</span><span class="icon icon-more-vert"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                    <ul class="nav nav-list pull-right">
                                        <li class="dropdown" dropdown>
                                            <a class="dropdown-toggle" dropdown-toggle><span class="access-hide">Card Dropdown</span><span class="icon icon-more-vert"></span></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-loop margin-right-half"></span>&nbsp;Lorem Ipsum</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-replay margin-right-half"></span>&nbsp;Consectetur Adipiscing</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)"><span class="icon icon-shuffle margin-right-half"></span>&nbsp;Sed Ornare</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="content-sub-heading">Button Dropdown</h2>
            <div class="dropdown-wrap">
                <div class="dropdown dropdown-inline" dropdown>
                    <a class="btn dropdown-toggle-btn" dropdown-toggle>Button Dropdown<span class="icon icon-keyboard-arrow-down margin-left-half"></span></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="javascript:void(0)">Lorem Ipsum</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Consectetur Adipiscing</a>
                        </li>
                        <li>
                            <a href="javascript:void(0)">Sed Ornare</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Material</p>
    </div>
</footer>
<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red" href="https://github.com/Daemonite/material"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
    </div>
</div>

