<ng-include src="'/view/common/header.html'"></ng-include>
<ng-include src="'/view/common/nav-menu.html'"></ng-include>
<ng-include src="'/view/common/nav-profile.html'"></ng-include>
<ng-include src="'/view/common/nav-search.html'"></ng-include>

<div class="content">
    <div class="content-heading">
        <div class="container">
            <h1 class="heading">Modals &amp; Toasts</h1>
        </div>
    </div>
    <div class="content-inner">
        <div class="container">
            <h2 class="content-sub-heading">Modals</h2>
            <p class="margin-half-top">
                <a class="btn waves-button waves-effect" ng-click="openModal('modal')">Toggle Modal</a></p>
            <p>
                <a class="btn waves-button waves-effect" ng-click="openModal('modal-iframe', 'modal-full')">Modal with iFrame</a>
            </p>
            <h2 class="content-sub-heading">Toasts</h2>
            <p>
                <a class="btn waves-button waves-effect" data-toggle="toast" title="Simple toast with some text">Toggle Toast</a>
            </p>
            <p class="margin-half-bottom">
                <a class="btn waves-button waves-effect" data-toggle="toast" title="<a data-dismiss='toast'>Dismiss</a><div class='toast-text'>Simple toast with some text and a simple <a href='javascript:void(0)'>link</a>.</div>">Toast with Action Button</a>
            </p>
        </div>
    </div>
</div>
<footer class="footer">
    <div class="container">
        <p>Material</p>
    </div>
</footer>
<div class="fbtn-container">
    <div class="fbtn-inner">
        <a class="fbtn fbtn-red" href="https://github.com/Daemonite/material"><span class="fbtn-text">Fork me on GitHub</span><span class="fa fa-github"></span></a>
    </div>
</div>

